/rootfs/lib/udev/rules.d
/rootfs/opt/camera/filesystemRevision
/camUpdate/
/camUpdate.zip
/camUpdate*.zip
/debian/
/*.img.*

# Debian metapackage output.
/metapackage/debian/files
/metapackage/debian/*.debhelper.log
/metapackage/debian/*.substvars
/metapackage/debian/debhelper-build-stamp
/metapackage/debian/chronos-essential/
*.build
*.changes
*.deb

